<div class="carousel-container" >

    <a class="carousel-btn-previus" (click)="changeImage('previus')" id="carousel-btn-previus-id">
        <mat-icon class="carousel-btn-icon ">navigate_before</mat-icon>
    </a>

    <div class="carousel-container-images background-rgb" id="carousel-container-id">
        <div *ngFor="let image of inputImages; let i=index">
            <img class="carousel-img" src={{image.url}} alt={{image.name}} (click)="goToRouteCategory(image.name)">
            <span class="carousel-img-name">{{image.name}}</span>
        </div>
    </div>

    <a class="carousel-btn-next" (click)="changeImage('next')" id="carousel-btn-next-id">
        <mat-icon class="carousel-btn-icon ">navigate_next</mat-icon>
    </a>

</div>