<app-toolbar></app-toolbar>
<app-carousel-imgs [inputImages]="imagesSubCategories"></app-carousel-imgs>

<div class="home-container">

    <mat-toolbar >
        <div class="home-toolbar">

            <a class="home-toolbar-a">Ver todas las categorias</a>
            
            <a class="home-toolbar-categories" *ngFor="let category of subcategories">
                {{category.nombre}}
            </a>
        </div>
    </mat-toolbar>


    <div class="home-contents">
        <h2>ULTIMAS NOVEDADES</h2>
        <div class="home-products-container">
            <div *ngFor="let product of products; let i = index">
                <app-product-card [product]="product"></app-product-card>
            </div>
        </div>
    </div>

</div>

<app-footer></app-footer>