.container-card-sub-category{
    width: calc(100% - 40px);
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid #3f51b5;
    border-radius: 4px;
}
.name-card-sub-category{
    cursor: pointer;
    color: #3f51b5;
}
.img-card-sub-category{
    width: 95%;
    min-width: 200px;
    border-radius: 4px;
    cursor: pointer;
}
