<mat-card color="primary" class="product-card-container">

  <a class="product-card-name-category">{{nameCategory}}</a>

  <div class="product-card-img-container">
    <img class="product-card-img" src={{product?.imagenes?.at(0)?.url}} alt={{product?.imagenes?.at(0)?.nombre}}>
  </div>

  <h3 class="product-card-name">{{(product?.nombre || '').substring(0, 55)}}</h3>

  <p class="product-card-price">{{formatNumberToMoney(product?.precio || 0)}}</p>

  <button class="product-card-btn" (click)="addToCart()">
    <mat-icon>shopping_cart</mat-icon>
    <span>Agregar</span>
  </button>

</mat-card>