<div class="toolbar-container">

    <mat-toolbar class="toolbar-content">

        <a class="toolbar-btn" (click)="goToRoute('home')">
            <span>DazaGamer</span>
            <mat-icon>games</mat-icon>
        </a>

        <button mat-icon-button class="example-icon favorite-icon toolbar-btn toolbar-btn-login"
            aria-label="Example icon-button with heart icon" (click)="goToRoute(userLogin ? '' : 'login')">
            <mat-icon>person_pin</mat-icon>
            <span class="toolbar-login-or-username-span">{{userLogin ? userLogin.name : 'INICIAR SESIÓN'}}</span>

            <div *ngIf="userLogin" class="toolbar-log-out-container">

                <div class="toolbar-log-out-content">
                    <mat-icon>person</mat-icon>
                    <h3>{{userLogin.name + ' ' + userLogin.surnames}}</h3>
                </div>

                <div class="toolbar-log-out-content">
                    <mat-icon (click)="hidePasswordView= !hidePasswordView">{{hidePasswordView ? 'visibility_off' :
                        'visibility'}}</mat-icon>
                    <h3>{{hidePasswordView ? '*'.repeat(userLogin.password.length) : userLogin.password}}</h3>
                </div>

                <div class="toolbar-log-out-content">
                    <button mat-icon-button class="example-icon favorite-icon toolbar-btn" (click)="logOut()"
                        aria-label="Example icon-button with heart icon">
                        <mat-icon>cancel</mat-icon>
                        Cerrar sesión
                    </button>
                </div>

            </div>

        </button>

        <button class="toolbar-btn toolbar-btn-shopping-cart">
            <mat-icon matBadge={{total_products}} matBadgeColor="warn">shopping_cart</mat-icon>

            <div *ngIf="productsCart.length > 0" class="toolbar-shopping-cart">

                <div class="toolbar-shopping-cart-content">
                    <span>Producto</span>
                    <mat-icon>exposure_plus_1</mat-icon>
                    <span>Cantidad</span>
                    <mat-icon>exposure_neg_1</mat-icon>
                </div>

                <div *ngFor="let list of productsCart" class="toolbar-shopping-cart-content">
                    <img src={{list.product.imagenes.at(0)?.url}} alt="">
                    <mat-icon (click)="addProduct(list.product)">add_shopping_cart</mat-icon>
                    <span>{{list.quantity}}</span>
                    <mat-icon (click)="removeProduct(list.product)">remove_shopping_cart</mat-icon>
                </div>

                <p>{{'Productos ' + total_products + ' Total: ' + total_amount }}</p>

                <button (click)="emptyCart()">
                    Vaciar Carrito
                    <mat-icon>remove_shopping_cart</mat-icon>
                </button>
            </div>

        </button>

    </mat-toolbar>

    <div class="background-rgb"></div>

</div>