<div class="toolbar-container">

    <mat-toolbar class="toolbar-content">
        <a class="toolbar-btn" (click)="goToRoute('home')">
            <span>DazaGamer</span>
            <mat-icon>games</mat-icon>
        </a>

        <button mat-icon-button class="example-icon favorite-icon toolbar-btn"
            aria-label="Example icon-button with heart icon" (click)="goToRoute('products')">
            <mat-icon>person_pin</mat-icon>
            <span>INICIAR SESION</span>
        </button>

        <button class="toolbar-btn" (click)="goToRoute('shopping_cart')">
            <mat-icon matBadge="0" matBadgeColor="warn">shopping_cart</mat-icon>
        </button>
    </mat-toolbar>

    <div class="background-rgb"></div>

</div>