.toolbar-container {
  position: sticky;
  width: 100%;
  top: 0px;
  z-index: 3;
}

.toolbar-content {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.toolbar-btn {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  gap: 10px;
  padding: 0;
  font-size: 16px;
}


.toolbar-log-out-container {
  display: none;
  width: 210px;
  padding: 20px;
  top: -15px;
  height: 110px;
  border-radius: 8px;
  background-color: #3b3b3b;
  position: absolute;
  margin-top: 60px;
  align-items: center;
  flex-direction: column;
  z-index: 5;
  cursor: initial;
}

.toolbar-log-out-content {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.toolbar-btn-login:hover>.toolbar-log-out-container {
  display: flex;
}

.toolbar-shopping-cart{
  display: none;
  width: calc(100% - 40px);
  max-width: min-content;
  padding: 10px;
  top: -15px;
  border-radius: 8px;
  background-color: #3b3b3b;
  position: absolute;
  margin-top: 60px;
  z-index: 5;
  cursor: initial;
  flex-direction: column;
  gap: 15px;
  max-height: 80vh;
  overflow: auto;
}

.toolbar-shopping-cart-content{
  width: min-content;
  display: grid;
  grid-template-columns: 100px 20px 100px 20px;
  justify-content: left;
  align-items: center;
}
.toolbar-shopping-cart-content img {
  width: 80px;
  padding: 10px;
}

.toolbar-shopping-cart-content mat-icon {
  cursor: pointer;
}

.toolbar-shopping-cart button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-btn-shopping-cart:hover > .toolbar-shopping-cart{
  display: flex;
}


@media(max-width: 600px) {
  .toolbar-login-or-username-span{
    display: none;
  }

  .toolbar-log-out-container {
    left: 5px;
  }

  .toolbar-shopping-cart{
    right: 15px;
  }
  
}